.containerContact{
  background-color: #151515;
  min-height: 100vh;
  display:flex;
   margin: 0;
   width: 100%;
   z-index: -1;
   height: 100vh;
   justify-content: center;
    align-items: center; 
   flex-wrap: wrap;
   flex-direction: column;
}
.divContain{
  display: flex;
}
.textCenter{
  color: #fff;
  font-size: 50px;
  margin-bottom: 1%;
  text-align: left;
/*   background-color: #3c096c; */
  width: 80%;
}

.formContact{
display: flex;
/* background-color: aliceblue; */
width: 80vw;
height: 50%;
justify-content: space-around;
flex-wrap: wrap;
}

.inputName{
  width: 40%;
  color: #fff;
  font-size:x-large ;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #fff;

}
.inputSubject{
  width: 40%;
  background-color: transparent;
  color: #fff;
  font-size:x-large ;
  border: 0px;
  border-bottom: 2px solid #fff;
}
.inputEmail{
  width: 90%;
  color: #fff;
  font-size:x-large ;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #fff;
}
.textMessaje{
  color:#fff;
  margin: 1%;
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  resize: none;
  border: 0px;
  font-size: x-large ;
  background-color: rgba(90, 24, 154, 0.4);
}
.submitContact{
  margin: 1%;
  width: 90%;
  color:#000;
  font-size:x-large;
  border-radius: 10px;
  transition-duration: 0.5s;
/*   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: linear-gradient(to right,#3c096c, #ff6d00); */
}
.submitContact:hover{
  background-color: #e0aaff;
  color: #240046;
  cursor: pointer;
}
.textContact{
  display: flex;
  background-color: #e0aaff;
}
.divText{
  width: 20%;
}
.aContact{
  color: #fff;
  font-size: 60px;
  transition-duration: 0.5s;
  margin: 10%;
}
.aContact:hover{
  color:#e0aaff;
}
@media (max-width:1000px) {
  .divContain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .divText{
    width: 100%;
    justify-content: center;
  }
  .aContact{
    color: #fff;
    font-size: 50px;
  }

}