.divPa{
  display: flex;
  position: relative;
  justify-content:center;
  z-index: 1;
}
.conteiner{
  background-color: rgb(036 ,000 ,070 , 0.5);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  border-radius: 0 0 25px 25px;
  justify-content: space-between;
}

.options div a{
  color: #fff;
  font-size: 25px;
  margin: 0px 50px;
  text-decoration: none;
}

.profile{
  display: flex;
}

 .profile div{
  display: flex;
  align-items:center;
} 
.profile div p{
  color: #fff;
  font-size: 18px;
  width: 100px;
}

.profile div .imgProfile{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto 15px auto 200px;
}

.options{
  margin-right: 20vh;
  display: inline-flex;
  align-items: center;
}
.optionsIcons{
  display: none;
  visibility: hidden;
}
.hamburger{
  visibility: hidden;
  display: none;
}
.options div a:hover{
  color: aqua;
  cursor: pointer;
}

@media (max-width:2000px){
  .profile div .imgProfile{
    margin: auto 15px auto 30px; 
  }
  
}
@media (max-width:1400px){
.conteiner{
  height: 90px;
}
  .profile div .imgProfile{
    height: 70px;
    width: 70px;
  }
  .profile div p{
    font-size: 15px;
  }
  .options{
    display: none;
  }
  .optionsIcons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    visibility:visible;
    align-items: center;
  }
  .optionsIcons div .icons{
    color: #fff;
    font-size:30px;
  }

  .optionsIcons div .icons:hover{
    color: aqua;
    cursor: pointer;
  }

  .profile div p{
    margin: auto;
  }
}

@media (max-width:650px){
  .conteiner{
    height: 80px;
  }
  .profile{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .profile div .imgProfile{
    width: 60px;
    height: 60px;
  }
  .profile div p{
    color: #fff;
    font-size: 18px;
    letter-spacing:1px;
  }

  .options{
    display: none;
  }
  .optionsIcons{
    display: none;
  }

  .hamburger{
    display: flex;
    position: fixed;
    visibility: visible;
    height: 40px;
    width: 40px;
    color:#fff;
    font-size:30px;
    bottom: 20%;
    right: 10%;
    padding: 10px;
    border: 1px solid #fff;
    border-width: 1px;
    border-radius: 50%;
  }
  .hamburger p{
    display: flex;
    height: 40px;
    width: 40px;
    position: relative;
    top:6px;
    justify-content: center;
  }
  .hamburger:hover{
    color: lightblue;
    outline: 2px solid lightblue;
  }
}