.sectionMyTech{
  background-color: #151515;
  min-height: 100vh;
  display:flex;
   margin: 0;
   width: 100%;
   z-index: -1;
   height: 100vh;
   justify-content: center;
   align-items: center;
/*    flex-wrap: wrap; */
flex-direction: column;
}
.titleMyTech{
  color: #fff;
  font-size:45px;
  width: 80%;
  margin-bottom: 1%;
}
.techs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tech{
  background-color: #5A189A;
  height: 60vh;
  width: 40%;
  margin: 0 2vh;
  border-radius: 50px
}

.titleTech{
  font-size: 30px;
  margin-top:7%;
  margin-bottom:7%;
  text-align: center;  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #C77DFF;
}
.listTechs{
  display: flex;
  height: 60%;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
@media (max-width:1000px) {
  .sectionMyTech{
    flex-direction: column;
  }
  .tech{
    height: 45%;
    width: 80%;
    margin :10px;
  }
  .techs{
    height: 90%;
  }
}

@media (max-width:800px) {

  .titleTech{
    font-size: 25px;
    margin-top: 10px;
  }
  .listTechs{
    height: 70%;
  }

  .tech{
    height: 35%;
    width: 80%;
    margin :10px;
  }
  
}

@media (max-width:400px){

  .titleTech{
    font-size: 20px;
  }
}